html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;

}

html{
    width: 100%;
    height: 100vh;
}

body {
    height: 100%;
    min-height: 600px;
    background: linear-gradient(45deg, rgb(0, 0, 55), rgb(0, 39, 71) , rgb(20, 35, 55)90%) no-repeat; 
    background-size: 300% 300%;
    animation: colors 20s ease infinite;

}

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%
    }
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    display: flex;
    align-items: end;
    justify-content: center;
    box-shadow: 0px 50px 300px rgb(70, 105, 200);
    z-index: 1;
}

header nav{
    width: 90%;
    max-width:1000px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.m6 {
    height: 40px;
    padding-bottom: 5px;
    color: white;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 30px;
    display: flex;
    align-items: end;
    text-decoration: none;
}


@media (max-width: 400px) {
    .m6 {
        font-size: 20px;
    }

    #PAI {
        margin-top: 500px;
    }
}
@media (max-width: 450px) {
    .m6{
        margin-right: 10px;
        margin-left: 2px;
    }

    html {
        height: 200vh;
    }

    #filho2 p {
        font-size: 17px;
        margin-top: 0px;
    }
    
}


header nav a:hover {
    transition: 0.5s;
    color: aquamarine;
    transform: translateY(15px);
    box-shadow: 0px 5px 5px rgb(0, 0, 50);
}



/* -------------------------------------------------------- */

section {
    width: 100%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pai {
    width: 90%;
    max-width:1000px;
    height: 400px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgb(0, 0, 5);
}

#filho1 {
    min-width: 250px;
    width: 250px;
    height: 350px;
    background: center;
    background-image: url(/img/perfl.JPG);
    background-size: cover;
    border-radius: 40px;
    margin-left: 30px;
    display: block;
}

@media (max-width: 900px) {
    #filho1 {
        transition: 5s;
        min-width: 50px;
        background-position: -72px;
    }

}

@media (max-width: 768px) {
    .pai {
        margin-top: 250px;
        width: 80%;
    }

    #sobre p { 
        width: 80%;
    }

    #projetos p { 
        width: 80%;
    }

    footer {
        margin-top: 490px;
    }

}

#filho2 {
    display: inline;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 20px;
    color: white;
    text-align: justify;
}


#sobre {
    margin-top: 40px;
    width: 90%;
    height: auto;
    max-width:1000px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
}


#projetos {
    margin-top: 40px;
    width: 90%;
    height: auto;
    max-width:1000px;
    color: white;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column
}


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 20);
    backdrop-filter: blur(1000px);
    -webkit-backdrop-filter: blur(1000px);
}

footer nav{
   margin: 5px;
   width: 200px;
   display: flex;
   justify-content: center;
}

footer a {
    color: wheat;
    text-decoration: none;
    font-size: 15px;
}

footer a:hover {
    transition: 0.5s;
    transform: scale(1.2);
}